* {
  box-sizing: border-box;
}

:root {
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.wrapcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.card {
  height: 640px;
  margin-right: 70px;
  margin-bottom: 20px;
}

.btn-dark {
  margin-right: 5px;
}

.category {
  margin-left: 10px;
}

.cardTitle:hover {
  cursor: pointer;
  text-decoration: underline;
}

.productImage:hover,
#logo:hover {
  cursor: pointer;
}

.navLinks {
  text-decoration: none;
  margin-right: 20px;
  color: white;
  font-size: 16px;
}
.size {
  margin-bottom: 20px;
}

.card-body {
  margin: 5px;
}

.card {
  flex-wrap: wrap;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.checkoutHeader {
  margin: 3rem;
  margin-left: 7rem;
}
.singleCard {
  align-items: center;
  margin-top: 60px;
}

.C-div {
  width: 80%;
}

.seperator {
  margin-top: 20px;
}
#accountInfo {
  border: solid 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin-bottom: 40px;
}
#myOrders {
  border: solid 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
